.container {
  width: 1200px;
  margin: auto;
}

.container h2 {
  margin: 8px;
}

@media(max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}
